h1 {
    color: red;
    background-color: blue;
}

.color-green {
    color: green;
}

#id-h3 {
    font-size: 56px;
}

h4, h5, h6 {
    color: blue;
}

div h1 {
    color: red;
}
div > h1 {
    color: yellow;
}

p#p1 {
    color: blue;
}

p.p1 {
    color: red;
}