body {
    background-color: lightgray;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.clear-float {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

header {
    background-color: white;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
}

header #header-content img {
    height: 50px;
    width: auto;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

header ul li {
    float: left;
}

header ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;

    /* padding: 20px 15px 10px 5px; */
    /* padding: 20px 15px 10px; */
    padding: 0 20px;
    /* padding: 20px; */
    line-height: 50px;
}

header ul li a:hover {
    color: white;
    background-color: pink; 
}

header img {
    float: left;
}


#page-content {
    margin-top: 30px;
}

#page-content .image-slider {
    position: relative;
}

#page-content .image-slider .buttons {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

#page-content .image-slider .buttons .btn-pre {
    float: left;
}

#page-content .image-slider .buttons .btn-next {
    float: right;
}

#page-content .image-slider .image {
    background-image: url("../assets/82-1021x580.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#page-content .content {
    background-color: white;
    padding: 15px;
}

#page-content .content .content-header span {
    text-transform: uppercase;
    background-color: violet;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

#page-content .content .content-header .content-header-buttons {
    float: right;
}


.remove-margin-left {
    margin-left: 0 !important;
}

#page-content .content .items .item img {
    width: 100%;
}

#page-content .content .items .item h4 {
    margin: 5px 0;
}

#page-content .content .items .item p {
    margin: 0;
}

footer {
    /* padding: 15px;
    box-sizing: border-box; */
}

footer .footer-top {
    background-color: grey;
    padding: 15px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    z-index: 1;
    display: none;
}

.dropdown-content ul li {
    float: none;
}

.sub-dropdown {
    position: relative;
}

.sub-dropdown .sub-dropdown-content {
    position: absolute;
    top: 0;
    right: 100%;
    background-color: yellow;
    display: none;
}

.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}