[class*="col-"] {
    padding: 0 15px;
    box-sizing: border-box;
}

.row {
    margin: 0 -15px;
    overflow: auto;
}
.col-1 {
    width: calc((1/12)* 100%);
    float: left;
}

.col-2 {
    width: calc((2/12)* 100%);
    float: left;
}

.col-3 {
    width: calc((3/12)* 100%);
    float: left;
}

.col-4 {
    width: calc((4/12)* 100%);
    float: left;
}

.col-5 {
    width: calc((5/12)* 100%);
    float: left;
}

.col-6 {
    width: calc((6/12)* 100%);
    float: left;
}